/*
<!--Brian Kang -->
<!--IntroCS pd2 sec2-->
<!--HW05 -- Stuylin'-->
<!--2021-2-18-->
*/

/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
where each declaration is of the form
PROPERTY : VALUE;
 */

h1 {
font-family:Verdana; 
color: red; 
background-color: yellow; 
font-size: 30;
border-style: dashed
/*Font-family controls the fonts that are available for each text.*/
 }
h2 {
font-family:Times New Roman; 
color: blue;
font-size: 20;
text-shadow: 2px 2px 5px green;
/*Text-shadow makes a color go behind the words.*/
}
h3 {
color:purple;
font-family: Georgia;
color: purple;
background-color: yellow; 
font-size: 10;
}
p {
  font-variant: small-caps;
  /*Small-caps is able to make all lowercase letters uppercase, but it is smaller.*/
  
}
body {
  background-color: yellow;
  border-style: double;
  border-color: black;
  font-variant: small-caps;
  /*Changes the color of the border*/
li {
  font-family: "Courier New"
  /*The table of contents is in Courier New font*/
}
img {
  border-radius: 8px;
  /*The images should have rounded edges.*/
}
a {
	color: red
	/*changes link colors*/
}
